body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
@media (max-width: 1000px) {
  .fullpage-overlay {
    position: fixed !important;
    z-index: 90 !important;
  }

  .filetree-wrapper {
    z-index: 100 !important;
  }

  .sidebar {
    z-index: 1 !important;
  }
}
